@{
    ViewBag.Title = "Bad Request";
}


<section class="NavContent">
    <div class="LMidBlock">
      <p class="TopHdg"><span class="about">error</span></p>
      <ul>
        <li><a href="@Url.Content("~")" class="act" title="the basics">Solutions</a>
          <ul>
            <li><a href="javascript:history.go(-1)" title="Go back">Go back</a></li>
            <li><a href="@Url.Content("~")" title="Home page">Home page</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <!-- Left section --></section>


<section class="ContentWrapper">
    <div class="ContentRpt">
      <div class="ContentTop">
        <div class="ContentBtm">
		  <h1 class="contentHeaderText">Bad Request</h1>
          <article class="networkBox">
            <section class="contentMain">
              <p>Sorry, but your browser seems to have submitted a bad request.</p>
	          <p>Here's what we recommend you do now: <a href="javascript:history.go(-1)"><b>return to the last page you visited</b></a> or <a href="@Url.Content("~")"><b>go to the home page</b></a>.</p>
              <p>Sorry for any inconvenience!</p>
    	<script>
    	    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0, 2),
		GOOG_FIXURL_SITE = location.host;
	</script>
	<script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
            </section>
            <!-- network article --></article>
        </div>
      </div>
    </div>
    
    <!-- Right section --></section>
  

