@{
	ViewBag.Title = "Rate Limit Conflict";
}

<section id="content">
<div class="page-header">
		<h1>Rate Limit Conflict <small>Error!</small></h1>
	</div>
	<div class="row">
	<div class="span16">
			  <p>Sorry, but you can't repeat that action that often. Please try again soon.</p>
			  <p>Here's what we recommend you do now: <a href="javascript:history.go(-1)"><b>return to the last page you visited</b></a> or <a href="@Url.Content("~")"><b>go to the home page</b></a>.</p>
			  <p>Sorry for any inconvenience.</p>
		<script>
			var GOOG_FIXURL_LANG = (navigator.language || '').slice(0, 2),
		GOOG_FIXURL_SITE = location.host;
	</script>
	<script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
	
	
	
</div>
</div>
</section>