@{
	ViewBag.Title = "Oops...";
}



<section id="content">
<div class="page-header">
		<h1>Oops... <small>Error!</small></h1>
	</div>
	<div class="row">
	<div class="span16">
			  <p>Sorry, but something went wrong.</p>
			  <p>Here's what we recommend you do now: <a href="javascript:history.go(-1)"><b>return to the last page you visited</b></a> or <a href="@Url.Content("~")"><b>go to the home page</b></a>.</p>
			  <p>Sorry for any inconvenience; rest assured that our engineers have already been informed about this error.</p>

			  
	
</div>
</div>
</section>
