@{
	ViewBag.Title = "Success - email changed";
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">account</span></p>
	  <ul>
	  </ul>
	</div>
	
	<!-- Left section --></section>


<section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Success!</h1>
		  <article class="networkBox">
			<section class="contentMain">
			  <p>Your email has been successfully changed to: <b>@ViewData["new"]</b></p>
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>
  

