@{
	ViewBag.Title = "Recover OpenID";
}

<section id="content">
<div class="page-header">
		<h1>Recover OpenID</h1>
	</div>
	<div class="row">
	<div class="span16">
	
	<p>If you don't recall what OpenID your account uses, you can find out by entering your email address below. We will then send you the OpenID information for the account belonging to that email address.</p>
	@using (Html.BeginForm("ForgotOpenID","Account",FormMethod.Post)) {
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Recovery</legend>
			
			<div class="clearfix">
				@Html.Label("Email address:" )
			<div class="input">
				@Html.TextBox("email")
				@Html.ValidationMessage("email")
			</div></div>
			
			<p>
				<input type="submit" class="btn primary large" value="Recover" />
			</p>
		</fieldset>

	}

	</div>
	</div>
	</section>
  

