@{
    ViewBag.Title = "OpenID Recovery Email Sent";
}

<section class="NavContent">
    <div class="LMidBlock">
      <p class="TopHdg"><span class="about">account</span></p>
      <ul>
      </ul>
    </div>
    
    <!-- Left section --></section>


<section class="ContentWrapper">
    <div class="ContentRpt">
      <div class="ContentTop">
        <div class="ContentBtm">
		  <h1 class="contentHeaderText">OpenID Recovery Email Sent</h1>
          <article class="networkBox">
            <section class="contentMain">
                <p>We've sent the OpenID information of the account that belongs to the <b>@(ViewData["email"] as string)</b> email address.</p>
                <p>Please check the inbox of that email account for information on how to log in.</p>
            </section>
            <!-- network article --></article>
        </div>
      </div>
    </div>
    
    <!-- Right section --></section>
  

