@{
	ViewBag.Title = "OpenID Recovery Email Sent";
}

<section id="content">
<div class="page-header">
		<h1>OpenID Recovery Email Sent</h1>
	</div>
				<p>We've sent the OpenID information of the account that belongs to the <b>@(ViewData["email"] as string)</b> email address.</p>
				<p>Please check the inbox of that email account for information on how to log in.</p>
	</section>
