@{
	ViewBag.Title = "Verify Your Email Address";
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">account</span></p>
	  <ul>
	  </ul>
	</div>
	
	<!-- Left section --></section>


<section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Verify Your Email Address</h1>
		  <article class="networkBox">
			<section class="contentMain">
				<p>Thanks for registering!</p>
				<p>We have sent an email to <b>@ViewData["email"]</b> with a link to confirm your email address. Please click that link to be able to use all the site's functions.</p>
				<p><b>Didn't get the email?</b> No problem - @Html.ActionLink("click here to resend the email","ResendVerificationEmail","Account").</p>
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>
  

