@{
    ViewBag.Title = "Email Address Verified";
}

<section class="NavContent">
    <div class="LMidBlock">
      <p class="TopHdg"><span class="about">account</span></p>
      <ul>
      </ul>
    </div>
    
    <!-- Left section --></section>


<section class="ContentWrapper">
    <div class="ContentRpt">
      <div class="ContentTop">
        <div class="ContentBtm">
		  <h1 class="contentHeaderText">Email Address Verified</h1>
          <article class="networkBox">
            <section class="contentMain">
              <p>Thanks for verifying your email address! @Html.ActionLink("Click here to go to the home page.","Index","Home")</p>
            </section>
            <!-- network article --></article>
        </div>
      </div>
    </div>
    
    <!-- Right section --></section>
  

