@{
	ViewBag.Title = "Access Denied";
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">welcome</span></p>
	  <ul>
	  </ul>
	</div>
	
	<!-- Left section --></section>


<section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Access Denied</h1>
		  <article class="networkBox">
			<section class="contentMain">
			  <p>Sorry, but you're not allowed to access this site.</p>
	<p>Legato Network is currently only open to a few beta users. Sorry for any inconveniences, and check back soon to get involved in the public beta!</p>
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>
  

