@{
	ViewBag.Title = "Legal";
}

<h2>Legal information</h2>
	<p>The following legal documents are available:</p>
	<ul>
		<li>@Html.ActionLink("Terms of Service","TermsOfService")</li>
		<li>@Html.ActionLink("Privacy Policy","Privacy")</li>
		<li>@Html.ActionLink("Content Policy","Content")</li>
	</ul>