@{
	ViewBag.Title = "Search Currently Deactivated";
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">search</span></p>
	  <ul>
		<li><a href="@Url.Action("Index", "Search")" class="act" title="start search">start search</a>
		</li>
	  </ul>
	</div>
	
	<!-- Left section --></section>


<section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Search Currently Deactivated</h1>
		  <article class="networkBox">
			<section class="contentMain">
			  <p>We're sorry, but search is currently deactivated for maintenance. Usually, such maintenance is quick, so please check back in a little bit.</p>
			  <p>We apologize for any inconvenience!</p>
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>
  

