@{
	ViewBag.Title = "Search Currently Deactivated";
}

<section id="search-deactivated">
  <div class="page-header">
	<h1>Search Currently Deactivated</h1>
  </div>
			  <p>We're sorry, but search is currently deactivated for maintenance. Usually, such maintenance is quick, so please check back in a little bit.</p>
			  <p>We apologize for any inconvenience!</p>
			</section>