@{
	ViewBag.Title = "Search";
}

<section id="search-index">
  <div class="page-header">
	<h1>Search</h1>
  </div>
			  @using(Html.BeginForm("IndexPost","Search"))
			  {
				<p>Search for...</p>
				<input id="query" type="text" name="query" size="31" title="search query/term"/> 
				<!--<input id="tags" type="text" name="tags" size="31" title="in these tags (optional)" />-->
				<p><input type="submit" class="btn primary inline large"value="Search" /></p>
			  }
			</section>