@using MvcReCaptcha.Helpers;
@{
	ViewBag.Title = "Regenerate Spatial Index";
}

<section id="search-regenerate">
  <div class="page-header">
	<h1>Regenerate Spatial Index</h1>
  </div>
	<p>To regenerate the spatial index, fill out the form below. <b>Warning: this is a <i>non-reversible operation</i> and will deactivate searching while it processes.</b> This function should only be used when some database changes have occurred that the index doesn't reflect.</p>
	<p>If you don't know whether or not you should do this, ask an administrator.</p>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Regenerate Spatial Index</legend>
			
			<div class="clearfix">
				<label>CAPTCHA</label>
			<div class="input">
				@Legato.Helpers.HtmlUtilities.RenderHtmlInRazor(Html.GenerateCaptcha())
			</div></div>
			<div class="actions well">
				<input type="submit" class="btn primary large" value="Regenerate!" />&nbsp;<button type="reset" class="btn">Cancel</button>
			</div>
		</fieldset>

	}
			</section>