@{
	ViewBag.Title = "Log Out";
}

<section id="content">
<div class="page-header">
		<h1>Log Out</h1>
	</div>
	<div class="row">
	<div class="span16">
			  <p>If you wish to log out, click the button below.</p>
	@using(Html.BeginForm("LogOut","Account",FormMethod.Post))
 {          
		<p>
			<input type="submit" class="btn primary large" value="Log Out" />
		</p>
	}

	</div>
	</div>
	</section>