@{
	ViewBag.Title = "Email Address Verified";
}

<section id="content">
<div class="page-header">
		<h1>Email Address Verified</h1>
	</div>
			  <p>Thanks for verifying your email address! @Html.ActionLink("Click here to go to the home page.","Index","Home")</p>
	
</section>
  

