@model Legato.ViewModels.ReadListingViewModel

@{
    ViewBag.Title = "Listing";
}

<h2>Listing</h2>

<fieldset>
    <legend>ReadListingViewModel</legend>

    <div class="display-label">IsFilteredToIndividualReview</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsFilteredToIndividualReview)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
