@model Legato.Models.InstrumentReview.ReviewPermissionsModel

<div class="thread-post-functions post-menu" style="display: inline;">
	<div class="thread-post-functions-link post-menu">
		@Html.ActionLink("permalink",MVC.Instruments.IndividualReview(Model.Review.ReviewID))
	</div>
		
	@if(Model.CanEdit) {
	<div class="lsep">|</div>
	<div class="thread-post-functions-link post-menu">
		@Html.ActionLink("edit",MVC.Instruments.EditReview(Model.Review.ReviewID))</div>
	}
</div>