@model Legato.Models.Instrument.ListingPermissionsModel

<div class="thread-post-functions post-menu" style="display: inline;">
	<div class="thread-post-functions-link post-menu">
		@Html.ActionLink("permalink",MVC.Instruments.Individual(Model.Listing.InstrumentID, Legato.Helpers.HtmlUtilities.URLFriendly(Model.Listing.Title)))
	</div>
		
	@if(Model.CanEdit) {
	<div class="lsep">|</div>
	<div class="thread-post-functions-link post-menu">
		@Html.ActionLink("edit",MVC.Instruments.EditListing(Model.Listing.InstrumentID))</div>
	}
</div>