@{
	Layout = null;
	var revNum = Legato.Current.RevNumber();
}
<html>
<head>
<link href="/static/css/bootstrap.min.css?@revNum" rel="stylesheet">
<link href="/static/css/bootstrap.extras.css?@revNum" rel="stylesheet">
</head>
<body style="z-index:99999">
@Html.Partial("NavPartial")

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/map/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script src="/static/js/bootstrap-alerts.js?@revNum"></script>
<script src="/static/js/bootstrap-buttons.js?@revNum"></script>
<script src="/static/js/bootstrap-modal.js?@revNum"></script>
<script src="/static/js/bootstrap-tabs.js?@revNum"></script>
<script src="/static/js/bootstrap-dropdown.js?@revNum"></script>
<script src="/static/js/bootstrap-twipsy.js?@revNum"></script>
<script src="/static/js/bootstrap-popover.js?@revNum"></script>
<script src="/static/js/bootstrap-scrollspy.js?@revNum"></script>

</body>
</html>