<div class="navbar navbar-fixed-top navbar-inverse">
  	<div class="navbar-inner">
    	<div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
    		<a class="brand" href="@Url.Content("~")" style="background: url(http://i.imgur.com/shQjw.png); text-indent: -9999px; background-size: 200px 38px; background-repeat: no-repeat; width: 160px; float: left; display: block; padding: 9px 20px 8px; margin-left: -20px; color: white; line-height: 1;">Legato Network</a>
      		<div class="nav-collapse">
      			<ul class="nav">
                    <li @if(ViewBag.curPage == "Home"){<text>class="active"</text>}>
                        <a href="@Url.Content("~")">Home</a>
                    </li>
                    <li @if(ViewBag.curPage == "Map"){<text>class="active"</text>}>
                        <a href="/instruments"><i class="icon-map-marker icon-large"></i> Map</a>
                    </li>
                    <li @if(ViewBag.curPage == "Submit"){<text>class="active"</text>}>
                        <a href="/instruments/submit"><i class="icon-plus-sign icon-large"></i> Submit</a>
                    </li>
					<li class="dropdown @if(ViewBag.curPage == "Messages"){<text>active</text>}">
	      				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope icon-large"></i> Messages <b class="caret"></b></a>
	      				<ul class="dropdown-menu">
	      					<li><a href="/messages">Conversations</a></li>
	      					<li><a href="/messages/compose">Compose</a></li>
	      				</ul>
	      			</li>
	      			<li class="dropdown @if(ViewBag.curPage == "About"){<text>active</text>}">
	      				<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
	      				<ul class="dropdown-menu">
	      					<li><a href="/about">About Legato</a></li>
							<li><a href="/about#faq">FAQ</a></li>
							<li class="divider"></li>
							<li><a href="/about/contact">Contact</a></li>
							<li><a href="http://blog.legatonetwork.com">Blog</a></li>
							<li><a href="/legal">Legal</a></li>
	      				</ul>
	      			</li>
	  			</ul>
	  			<ul class="nav pull-right">
                    @Html.Partial("_LogOnPartial")
	  			</ul>
	  			@using(Html.BeginForm("IndexPost","Search", FormMethod.Post, new { @class = "navbar-search pull-right"} ))
                {
				    <input type="text" class="search-query" id="query" name="query" placeholder="Search" />
				}
			</div>
    	</div>
  	</div>
</div>

		 