<!-- Social buttons -->
<div @Model>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flegatonetwork&amp;width=292&amp;height=62&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=253769111299763" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:188px; height:62px; padding-left:-10px; margin-left:-10px" allowTransparency="true"></iframe> 
	<div style="display:inline; height:42px;"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.legatonetwork.com" data-text="Check out Legato Network!" data-count="horizontal" data-via="google" data-related="f_i">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></a>
    <div class="g-plusone" style="display:inline;margin-left:-20px;" data-href="http://legatonetwork.com"></div></div>
</div>

<!-- alternative cool look: remove display:inline; -->
<!-- alternative cool look two: set <div @Model style="height:62px;">, then either have div display:inline, height:42px around tweet and g+. -->
