<!-- Social buttons -->
<div @Model>
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.legatonetwork.com&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px; padding-left:-10px margin-left:-10px" allowTransparency="true"></iframe> 
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.legatonetwork.com" data-text="Check out Legato Network!" data-count="horizontal" data-via="google" data-related="f_i">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <div class="g-plusone" style="display:inline;margin-left:-20px;" data-href="http://legatonetwork.com"></div>
</div>