@charset "utf-8";
/* CSS Document */
p { margin: 0; } /* rest of screen.css:53 */

.LMidBlock .TopHdg{ background:url(../images/topnav.jpg) left top no-repeat; width:177px; height:59px; float:left; padding:0; font-size:24px; padding:0 0 0 20px; }

.LMidBlock .TopHdg span{ line-height:50px; padding:5px 0 0 30px; float:left; color:#727272; } 

/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
                            Left Navigation css
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/

.LMidBlock ul { float:left; width:171px; list-style-type:none; margin:0; padding:20px 0 0 26px; background:#fff; }

.LMidBlock ul li {width:171px; float:left;  padding:0 0 20px 0;  font-size:14px; text-transform:lowercase; }

.LMidBlock ul li a { float:left; width:auto; padding:0 0 0 30px; line-height:24px;  }
.LMidBlock ul li a:hover{ color:#d7282f; }    
  
.LMidBlock ul li ul { float:left; width:110px; margin:0; padding:8px 0 0 15px;}

.LMidBlock ul li ul li { float:left; width:110px; padding:0; background:url(../images/arrow_bg.gif) 20px top no-repeat; padding:0 0 0 10px; font-size:12px; }

/* About Us Left Nav */
.LMidBlock ul li a.IconBasics { background:url('../images/icon_basics.gif') 0 0 no-repeat;  line- padding:0 0 0 30px; }

.LMidBlock ul li a.IconBasics:hover { background:url('../images/icon_basics.gif') 0 -24px no-repeat; color:red; }

.LMidBlock ul li.IconBasics { background:url('../images/icon_basics.gif') 0 -48px no-repeat; width:auto; }

.LMidBlock ul li a.IconPress { background:url('../images/icon_press.gif') 0 0 no-repeat; }

.LMidBlock ul li a.IconPress:hover { background:url('../images/icon_press.gif') 0 -22px no-repeat; color:red; }

.LMidBlock ul li.IconPress { background:url('../images/icon_press.gif') 0 -44px no-repeat; }

.LMidBlock ul li a.IconFaqs { background:url('../images/icon_faq.gif') 0 0 no-repeat; }

.LMidBlock ul li a.IconFaqs:hover { background:url('../images/icon_faq.gif') 0 -22px no-repeat; color:red; }

.LMidBlock ul li.IconFaqs { background:url('../images/icon_faq.gif') 0 -44px no-repeat; }

.LMidBlock ul li a.IconCareers { background:url('../images/icon_careers.gif') no-repeat; }

.LMidBlock ul li a.IconCareers:hover { background:url('../images/icon_careers.gif') 0 -23px no-repeat; color:#f00; }

.LMidBlock ul li.IconCareers { background:url('../images/icon_careers.gif') 0 -46px no-repeat; }

.LMidBlock ul li a.IconContact { background:url('../images/icon_contact.gif') no-repeat; }

.LMidBlock ul li a.IconContact:hover { background:url('../images/icon_contact.gif') 0 -24px no-repeat; color:#f00; }

.LMidBlock ul li.IconContact { background:url('../images/icon_contact.gif') 0 -48px no-repeat; }

.LeftNav span.LBotmBg { background:url('../images/img_left_botmbg.html') no-repeat; float:left; height:15px; overflow:hidden; text-indent:-5000px; width:174px; }

.LMidBlock ul li.IconBasics a.act, .LMidBlock ul li.IconPress a.act, .LMidBlock ul li.IconFaqs a.act, .LMidBlock ul li.IconCareers a.act, .LMidBlock ul li.IconContact a.act, .LMidBlock ul li.IconMedia a.act, .LMidBlock ul li.IconRewards a.act, .LMidBlock ul li.IconDeveloper a.act { width:auto; float:left; padding:0 0 0 30px; color:#000; }

.LMidBlock ul li a.IconMedia { background:url('../images/icon_media.html') 0 0 no-repeat; }

.LMidBlock ul li a.IconMedia:hover { background:url('../images/icon_media.html') 0 -20px no-repeat; color:red; }

.LMidBlock ul li.IconMedia { background:url('../images/icon_media.html') 0 -40px no-repeat; width:auto; }

.LMidBlock ul li a.IconRewards { background:url('../images/icon_rewards.gif') 0 0 no-repeat; }

.LMidBlock ul li a.IconRewards:hover { background:url('../images/icon_rewards.gif') 0 -24px no-repeat; color:red; }

.LMidBlock ul li.IconRewards { background:url('../images/icon_rewards.gif') 0 -48px no-repeat; width:auto; }

.LMidBlock ul li a.IconDeveloper { background:url('../images/icon_developer.gif') 0 0 no-repeat; }

.LMidBlock ul li a.IconDeveloper:hover { background:url('../images/icon_developer.gif') 0 -24px no-repeat; color:red; }

.LMidBlock ul li.IconDeveloper { background:url('../images/icon_developer.gif') 0 -48px no-repeat; width:auto; }

.LMidBlock ul li a.active { color:#000; }

.LeftNav div.LMidBlock h2.IconMobile { background:url('../images/icon_mobile.html') no-repeat left top; padding-top:6px; }

.LMidBlock ul li .active { padding:0 0 16px; }

.LMidBlock ul li a.IconAdvertisers { background:url('../images/icon_advertisers.gif') 0 0 no-repeat;  }

.LMidBlock ul li a.IconAdvertisers:hover { background:url('../images/icon_advertisers.gif') 0 -24px no-repeat; color:red;  }

.LMidBlock ul li.IconAdvertisers { background:url('../images/icon_advertisers.gif') 0 -48px no-repeat;  }

.LMidBlock ul li.IconAdvertisers a.act { width:auto; float:left; padding:0 0 0 30px; color:#000;  }

.LMidBlock ul li a.IconPublishers { background:url('../images/icon_publisher.gif') 0 0 no-repeat; }

.LMidBlock ul li a.IconPublishers:hover { background:url('../images/icon_publisher.gif') 0 -24px no-repeat; color:red; }

.LMidBlock ul li.IconPublishers { background:url('../images/icon_publisher.gif') 0 -48px no-repeat; }

.LMidBlock ul li.IconPublishers a.act { width:auto; float:left; padding:0 0 0 30px; color:#000;  }

.LMidBlock ul li a.IconDatePartner { background:url('../images/icon_datapartner.gif') 0 0 no-repeat; }

.LMidBlock ul li a.IconDatePartner:hover { background:url('../images/icon_datapartner.gif') 0 -24px no-repeat; color:red; }

.LMidBlock ul li.IconDatePartner { background:url('../images/icon_datapartner.gif') 0 -48px no-repeat; }

.LMidBlock ul li.IconDatePartner a.act { width:auto; float:left; padding:0 0 0 30px; color:#000;  }

.LMidBlock ul li a{ color:#666; text-decoration:none; }
.LMidBlock ul li ul li a{ color:#666;  text-decoration:none; }
.LMidBlock ul li ul li a:hover { color:#ff0000;  text-decoration:none; }
.LMidBlock ul li ul li.SubActive{ color:#000; text-decoration:none;  }
.LMidBlock ul li ul li.SubActive a{ color:#000; text-decoration:none;  }
.LMidBlock ul li.IconBasics{  color:#000;  }
.LMidBlock ul li a.IconBasics:hover{  color:#f00; }
.LMidBlock ul li a.IconPress:hover{  color:#f00; }
.LMidBlock ul li a.IconFaqs:hover{  color:#f00; }
.LMidBlock ul li a.IconCareers:hover{  color:#f00; }
.LMidBlock ul li a.IconContact:hover{  color:#f00; }


/* About Us section css for left navigation */

.LMidBlock ul li.iconPress {background:url('../images/icon_press.gif') 0 -45px no-repeat;}
.LMidBlock ul li a.iconPress {background:url('../images/icon_press.gif') 0 4px no-repeat;}
.LMidBlock ul li a.iconPress:hover {background:url('../images/icon_press.gif') 0 -21px no-repeat; color:red;  }
.LMidBlock ul li.iconPress a.act {width:auto; float:left; padding:0 0 0 30px; color:#000;  }

.LMidBlock ul li.iconFaqs { background:url('../images/icon_faq.gif') 0 -48px no-repeat;  }
.LMidBlock ul li a.iconFaqs { background:url('../images/icon_faq.gif') 0 0 no-repeat;  }
.LMidBlock ul li a.iconFaqs:hover { background:url('../images/icon_faq.gif') 0 -24px no-repeat; color:red;  }
.LMidBlock ul li.iconFaqs a.act { width:auto; float:left; padding:0 0 0 30px; color:#000;  }

.LMidBlock ul li.iconCareers { background:url('../images/icon_careers.gif') 0 -48px no-repeat;  }
.LMidBlock ul li a.iconCareers { background:url('../images/icon_careers.gif') 0 0 no-repeat;  }
.LMidBlock ul li a.iconCareers:hover { background:url('../images/icon_careers.gif') 0 -25px no-repeat; color:red;  }
.LMidBlock ul li.iconCareers a.act { width:auto; float:left; padding:0 0 0 30px; color:#000;  }

.LMidBlock ul li.iconContact { background:url('../images/icon_contact.gif') 0 -46px no-repeat;  }
.LMidBlock ul li a.iconContact { background:url('../images/icon_contact.gif') 0 2px no-repeat;  }
.LMidBlock ul li a.iconContact:hover { background:url('../images/icon_contact.gif') 0 -22px no-repeat; color:red;  }
.LMidBlock ul li.iconContact a.act { width:auto; float:left; padding:0 0 0 30px; color:#000;  }