@if (Request.IsAuthenticated)
{
      <li><span class="lock"></span><i>@User.Identity.Name</i>
       <ul class="LockOption">
          <li class="first1"><span class="lock"></span><i>@User.Identity.Name</i></li>
          <!--<li class="lastfld"><a href="profile" title="advertiser">profile</a></li>-->
          <li class="lastfld"><a href="@Url.Action("LogOff","Account")" title="logout">logout</a></li>
          <li class="last"></li>
        </ul>
      </li>
}
else
{
    <li><span class="lock"></span><a href="@Url.Action("Login","Account")" title="login">login</a></li>
}