@model Legato.Models.InstrumentReview.ReviewPermissionsModel

<div class="thread-post-functions post-menu" style="display: inline;">
	<div class="thread-post-functions-link post-menu">
		@Html.ActionLink("permalink","IndividualReview", new { reviewID = Model.Review.ReviewID})
	</div>
		
	@if(Model.CanEdit) {
	<div class="lsep">|</div>
	<div class="thread-post-functions-link post-menu">
		@Html.ActionLink("edit", "EditReview", new { reviewID = Model.Review.ReviewID })</div>
	}
</div>