@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Whitelist Contents</title>
</head>
<body>
    <div>
    <p>Whitelist:</p>

    @using(Html.BeginForm("SetWhitelist"))
    {
        @Html.TextBox("list", (string)ViewBag.list)
    <p><input type="submit" value="Submit" /></p>
    }
    </div>
</body>
</html>
