<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxGridScaffolder" version="0.1" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Geocoding.net" version="2.1.1" targetFramework="net40" />
  <package id="jQuery" version="3.5.0" />
  <package id="jQuery" version="3.5.0" />
  <package id="jQuery.UI.Combined" version="1.8.13" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.6.1" />
  <package id="log4net" version="1.2.10" />
  <package id="microsoft-web-helpers" version="1.15" />
  <package id="Modernizr" version="1.7" />
  <package id="MvcProjectAwesome" version="1.9" />
  <package id="protobuf-net" version="1.0.0.280" />
  <package id="T4MVC" version="2.6.55" />
  <package id="WebActivator" version="1.4.1" />
</packages>