@{
    ViewBag.Title = "About Us";
}

  <section class="NavContent">
    <div class="LMidBlock">
      <p class="TopHdg"><span class="about">about us</span></p>
      <ul>
        <li class="IconBasics"><a href="index.html" class="act" title="the basics">THE BASICS</a>
          <ul>
            <li><a href="management.html" title="Management">Management</a></li>
            <li><a href="board.html" title="Board">Board</a></li>
            <li><a href="advisors.html" title="Advisors">Advisors</a></li>
            <li><a href="investors.html" title="Investors">Investors</a></li>
          </ul>
        </li>
        <li><a href="press.html" class="iconPress" title="PRESS">PRESS</a></li>
        <li><a href="faq.html" class="iconFaqs" title="FAQS">FAQS</a></li>
        <li><a href="careers.html" class="iconCareers" title="CAREERS">CAREERS</a></li>
        <li><a href="contact.html" class="iconContact" title="CONTACT US">CONTACT US</a>
          <ul>
            <li><a href="locations.html" title="Locations">Locations</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <!-- Left section --></section>
  <section class="ContentWrapper">
    <div class="ContentRpt">
      <div class="ContentTop">
        <div class="ContentBtm">
		  <h1 class="contentHeaderText">Company Profile</h1>
          <article class="networkBox">
            <section class="contentMain">
              <p>RadiumOne is the first online ad network to leverage social data on the Web. Through our unique Sharegraph ™ process, we enable brands to identify users who are most likely to interact with their ads.</p>
              <p>Based in San Francisco with offices in New York, Chicago, Los Angeles, and London, our company is comprised of entrepreneurs from leading technology, venture capital, online advertising, and social gaming companies and funded by Adams Street Capital, Trinity Ventures, Crosslink Capital, DFJ Esprit, and Stanford University.</p>
			  <p>More text!!!!</p>
			                <p>RadiumOne is the first online ad network to leverage social data on the Web. Through our unique Sharegraph ™ process, we enable brands to identify users who are most likely to interact with their ads.</p>
              <p>Based in San Francisco with offices in New York, Chicago, Los Angeles, and London, our company is comprised of entrepreneurs from leading technology, venture capital, online advertising, and social gaming companies and funded by Adams Street Capital, Trinity Ventures, Crosslink Capital, DFJ Esprit, and Stanford University.</p>
			  <p>More text!!!!</p>
			                <p>RadiumOne is the first online ad network to leverage social data on the Web. Through our unique Sharegraph ™ process, we enable brands to identify users who are most likely to interact with their ads.</p>
              <p>Based in San Francisco with offices in New York, Chicago, Los Angeles, and London, our company is comprised of entrepreneurs from leading technology, venture capital, online advertising, and social gaming companies and funded by Adams Street Capital, Trinity Ventures, Crosslink Capital, DFJ Esprit, and Stanford University.</p>
			  <p>More text!!!!</p>
			                <p>RadiumOne is the first online ad network to leverage social data on the Web. Through our unique Sharegraph ™ process, we enable brands to identify users who are most likely to interact with their ads.</p>
              <p>Based in San Francisco with offices in New York, Chicago, Los Angeles, and London, our company is comprised of entrepreneurs from leading technology, venture capital, online advertising, and social gaming companies and funded by Adams Street Capital, Trinity Ventures, Crosslink Capital, DFJ Esprit, and Stanford University.</p>
			  <p>More text!!!!</p>
			                <p>RadiumOne is the first online ad network to leverage social data on the Web. Through our unique Sharegraph ™ process, we enable brands to identify users who are most likely to interact with their ads.</p>
              <p>Based in San Francisco with offices in New York, Chicago, Los Angeles, and London, our company is comprised of entrepreneurs from leading technology, venture capital, online advertising, and social gaming companies and funded by Adams Street Capital, Trinity Ventures, Crosslink Capital, DFJ Esprit, and Stanford University.</p>
			  <p>More text!!!!</p>
            </section>
            <!-- network article --></article>
        </div>
      </div>
    </div>
    
    <!-- Right section --></section>
  