@{
	ViewBag.Title = "Coming Soon";
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">soon</span></p>
	  <ul>
		<li></li>
	  </ul>
	</div>
	
	<!-- Left section --></section>


<section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Coming Soon</h1>
		  <article class="networkBox">
			<section class="contentMain">
			  <p>Stay tuned for loads of cool new stuff.</p>
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>
  
