@{
	ViewBag.Title = "Home Page";
	ViewBag.revNum = Legato.Current.RevNumber();
}

<article class="centered">
	<h1>Welcome to Legato Network.</h1>
	<h2>How it works</h2>
	<p>Blah blah blah</p>
	<p>Lorem ipsum!</p>
	<a href="/map"><img src="@Url.Content("~/static/images/find_instrument-button.png")?@ViewBag.revNum" alt="Find an Instrument" style="width:437px; height: 69px;" /></a>
</article>

@section BetweenHeaderAndContent {

<section>
  <div id="Sliderbx">
	<article class="span-8">
	<h1 class="notCufon">Connecting Musicians Worldwide</h1>
	<p class="Slidertxt"><span>Meriam-Webster defines "legato" as "in a manner that is smooth and connected..." <br>
<br>
That's why Legato Network is here - to connect musicians worldwide, enabling them to share information, experiences, and knowledge. Become a part of the future today!
</span></p>
	<p class="Find_mr"><a href="login" title="Join the Network">Join the Network</a></p>
	</article>
	
	<!-- todo: music note here? -->
	<img src="@Url.Content("~/static/images/logo_stretched.png")?@ViewBag.revNum" style="margin-left: 120px; margin-top: 150px;" alt="Legato Network" />
	
	<!-- Slider --></div>
  <!-- Slider section --></section>
  }

@section ScriptContentAtEndOfBody {


}