@{
    ViewBag.Title = "Home Page";
}

<h1>Find a place to play.</h1>
<h2>Find an instrument @Html.ActionLink("for public use",MVC.Instruments.Map("public")), for rent, or for sale.</h2>
<p>
    Since 2011, Legato Network has connected musicians around the world to create a network for information exchange - a connected network.
</p>

@Html.Action(MVC.Instruments.Map())