@{
	ViewBag.Title = "Home Page";
	ViewBag.revNum = Legato.Current.RevNumber();
}

	  <!-- Main hero unit for a primary marketing message or call to action -->
	  <div class="hero-unit">
		<h1>Connecting instruments with musicians around the world.</h1>
		<p>Legato Network is here to help you <b>find an instrument</b> to play on or to <b>find others to play</b> on your instrument.</p>
		<p><a class="btn primary large" href="@Url.Action("Map", "Instruments")">View map &raquo;</a></p>
	  </div>

	  <!-- Example row of columns -->
	  <div class="row">
		<div class="span-one-third">
		  <h2>Find</h2>
		  <p>You're in a new place and need to practice on an instrument.</p>
		  <p><a class="btn" href="@Url.Action("Map", "Instruments")">Find an instrument &raquo;</a></p>
		</div>
		<div class="span-one-third">
		  <h2>Submit</h2>
		   <p>You know of an instrument that is available, or you can offer your own for others to play.</p>
		  <p><a class="btn" href="@Url.Action("Submit", "Instruments")">Submit an instrument &raquo;</a></p>
	   </div>
		<div class="span-one-third">
		  <h2>How It Works</h2>
		  <p>You're confused about this site or want to find out more.</p>
		  <p><a class="btn" href="@Url.Action("About", "Home")">Read our FAQ &raquo;</a></p>
		</div>
	  </div>