@using MvcReCaptcha.Helpers;
@{
	ViewBag.Title = "Optimize Spatial Index";
}

<section id="search-optimize">
  <div class="page-header">
	<h1>Optimize Spatial Index</h1>
  </div>
	<p>To optimize the spatial index, fill out the form below. <b>Warning: this is a <i></i>non-reversible operation</i> and will deactivate searching while it processes.</b> This function should only be used when the index gets big, slow, and unwieldy.</p>
	<p>If you don't know whether or not you should do this, ask an administrator.</p>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Optimize Spatial Index</legend>
			
			<div class="clearfix">
				<label>CAPTCHA</label>
			<div class="input">
				@Legato.Helpers.HtmlUtilities.RenderHtmlInRazor(Html.GenerateCaptcha())
			</div></div>
			<div class="actions well">
			<input type="submit" class="btn primary large" value="Optimize!" />&nbsp;<button type="reset" class="btn">Cancel</button>
			</div>
		</fieldset>

	}
			</section>